@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    --line-color:#e5e7eb;
}

.borderBlack{
    @apply border border-black/10;
}

.img{
    background-image: url("https://upcdn.io/kW15cDa/raw/myphoto.jpg");
    background-size: cover       
}
